html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.nav{
  background: (0,0,0);
  color: #333;
}

p{
  margin: 0%;
  padding: 0%;
}

.title{
  font-size:  200%;
  margin-left: 2%;
  float: left;
}
.p5Canvas{
  margin: 0%;
  /* margin-top: 8%;
  margin-left: 6%; */
}


.next {
  font-size:  200%;
margin-left: 90%;
}

a{
  text-decoration: none;
  color: #333;
}

a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

a:visited {
  text-decoration: none;
  color: #333;

}

a:active {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer; 

}